/* CSS Document */

/*********/
/* FONTS */
/*********/
/* @font-face {
	font-family: "futura-pt-bold", sans-serif;
	src: url('../fonts/futurabold.ttf') format('ttf'),
			 url('../fonts/futurabold.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
} */

 @import url("https://use.typekit.net/mqx0iaf.css");

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/
/* body {
  font-family:eenfont, sans-serif;
  color:var(--color-text);
  background-color:var(--color-background);
} */

/* jouw code */
main section h1 {
	text-align: center;
}

main section h1 span {
	font-family: "futura-pt-bold", sans-serif;
	font-weight: 700;
	font-size: 4em;
	font-style: normal;	
	color: 	#0276a8;
	position: relative;
}

main section h1 span:first-of-type::before {
	content: "";
	position: absolute;
	height: 1.2em;
	width: 0.6em;
	left: -1em;


	background-image: 
	radial-gradient(
		white 50%,
		transparent 50%
	),
	radial-gradient(
		white 50%,
		transparent 50%
	),
	radial-gradient(
		white 50%,
		transparent 50%
	),

	linear-gradient(
		#e31a37 48%,
		white 48% 52%,
		#0276a8 52%
	);

	background-position: 
	0.15em 0.15em,
	0.27em 0.65em,
	0.03em 0.87em,
	left top;

	background-size:
	0.3em 0.3em,
	0.3em 0.3em,
	0.3em 0.3em,
	cover;

	background-repeat: no-repeat;
	border-radius: 5%;

	animation-name: domino;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-iteration-count: 1;
}

@keyframes domino {
	from {
		transform: rotate(0deg);
		}
	to {
		transform: rotate(45deg);
	  }
}
/*bron: https://stackoverflow.com/questions/22352311/how-do-i-draw-a-diagonal-div */
/*bron: https://www.simplilearn.com/tutorials/css-tutorial/css-keyframes#css_keyframes_example_1 */

/* activeert animatie van spans */
/* Animatie letter O */
main section h1 span:not(span:first-of-type) {
	display: inline-block
}

/* Animatie letter D */
main section h1 span:nth-of-type(2){
	animation-name: letterD;
	animation-duration: 2s;
	animation-delay: 1.5s;
	animation-iteration-count: 1;
}

@keyframes letterD {

	from {
		transform: rotate(0deg);
		}
	to {
		transform: rotate(35deg);
	  }
}

/* Animatie letter O */
main section h1 span:nth-of-type(3){
	animation-name: letterO;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-iteration-count: 1;
}

@keyframes letterO {

	from {
		transform: rotate(0deg);
		}
	to {
		transform: rotate(180deg);
	  }
}

/* Animatie letter M */
main section h1 span:nth-of-type(4){
	animation-name: letterM;
	animation-duration: 1s;
	animation-delay: 2.5s;
	animation-iteration-count: 1;
}

@keyframes letterM {

	from {
		transform: rotate(0deg);
		}
	to {
		transform: rotate(30deg);
	  }
}

/* Animatie letter I */
main section h1 span:nth-of-type(5){
	animation-name: letterI;
	animation-duration: 1s;
	animation-delay: 3s;
	animation-iteration-count: 1;
}

@keyframes letterI {

	from {
		transform: rotate(0deg);
		}
	to {
		transform: rotate(30deg);
	  }
}

/* Animatie letter N */
main section h1 span:nth-of-type(6){
	animation-name: letterN;
	animation-duration: 1s;
	animation-delay: 3.5s;
	animation-iteration-count: 1;
}

@keyframes letterN {

	from {
		transform: rotate(0deg);
		}
	to {
		transform: rotate(30deg);
	  }
}

/* Animatie letter O */
main section h1 span:nth-of-type(7){
	animation-name: letterO;
	animation-duration: 1s;
	animation-delay: 4s;
	animation-iteration-count: 1;
}

@keyframes letterO {

	from {
		transform: rotate(0deg);
		}
	to {
		transform: rotate(180deg);
	  }
}

/* Animatie letter Apostrof */
main section h1 span:nth-of-type(8){
	animation-name: letterApostrof;
	animation-duration: 1s;
	animation-delay: 4.5s;
	animation-iteration-count: 1;
}

@keyframes letterApostrof {

	from {
		transform: rotate(0deg);
		}
	to {
		transform: rotate(35deg);
	  }
}

/* Animatie letter S */
main section h1 span:nth-of-type(9){
	animation-name: letterS;
	animation-duration: 1s;
	animation-delay: 5s;
	animation-iteration-count: 1;
}

@keyframes letterS {

	from {
		transform: rotate(0deg);
		}
	to {
		transform: rotate(35deg);
	  }
}


















